* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.contactsocial {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.contactsocial i {
  display: flex;
  justify-content: center;
  width: 20px;
  background-color: #3b1d0f;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.navbar {
  background-color: #ee6822;
  width: 100%;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 1.5em;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 160px;
  border-bottom: 10px solid transparent;
}
li:hover {
  background-color: #3b1d0f;
  border-bottom: 10px solid white;
}
ul {
  overflow: hidden;
}

.top {
  background-image: url(Img/header.jpg);
  height: 420px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.baresky {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  bottom: -250px;
}
.barefoot {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  background-image: url(img/barefoot.jpg);
  background-size: cover;
  height: 250px;
  width: 470px;
  padding: 30px;
  border-top: 5px solid #ee6822;
  justify-content: space-between;
}
.skysurf {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  background-image: url(img/sky.jpg);
  background-size: cover;
  height: 250px;
  width: 470px;
  padding: 30px;
  border-top: 5px solid #ee6822;
}

.ESP {
  background-color: #ee6822;
  font-size: 20px;
  padding: 10px;
  border: none;
  color: white;
  width: fit-content;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
p {
  font-size: 20px;
  width: 90%;
  line-height: 1.3em;
}
h1,
p {
  color: white;
}

.barefoot p {
  width: 58%;
}
.ESP:hover {
  background-color: #ff5900bb;
}

h2 {
  color: #ee6822;
  font-size: 2.5em;
  margin-bottom: 30px;
}
.sportext {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.sportext p {
  color: #7d7d7d;
  width: 35%;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.6em;
}

button {
  background-color: #3b1d0f;
  color: white;
  font-size: 1.5em;
  padding: 15px 40px;
  border: none;
}
button:hover {
  background-color: #3b1d0fd8;
}
.running {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Img/equipement.jpg);
  background-size: cover;
  width: 100%;
  height: 550px;
  margin-bottom: 100px;
}
.runningtxt {
  width: 50%;
}
h3 {
  color: white;
  font-size: 3em;
}
.running p {
  color: #ee6822;
  font-size: 8em;
}
span {
  font-weight: 900;
}

.p1 img {
  width: 150px;
}
.p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  gap: 10px;
}
h4 {
  color: #ee6822;
  font-size: 40px;
}
.p1 p {
  width: 45%;
  color: #7d7d7d;
  line-height: 1.5em;
}
.section3 {
  margin-bottom: 100px;
}
.section3 img {
  margin-bottom: 30px;
}
.p2 {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.p2 p {
  color: black;
}
.member1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 280px;
}

.livraisonsatis {
  background-image: url(Img/savoir.jpg);
  background-size: cover;
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
}
.boites3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.backgrey {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #cecece;
  width: 300px;
  height: 70%;
  padding: 20px;
}
.backgrey i {
  color: #ee6822;
  width: fit-content;
  font-size: 120px;
}
.backgrey p {
  color: black;
  font-size: 1.6em;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.member1 p {
  width: 100%;
}
footer {
  background-color: #303030;
  height: 350px;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 60%;
  gap: 50px;
}
.footer2 {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}

.footer3 {
  display: flex;
  flex-direction: column;
}
footer p {
  width: fit-content;
}

span {
  color: #ee6822;
}
.copy {
  display: flex;
  width: 80%;
  justify-content: center;
}
